<div *ngFor="let item of questionnaire; let i = index">
    <h4>Question {{ i + 1 }} : {{ item.q }}</h4>
    <ul>
      <li *ngFor="let reponse of item.r">
        <input
            type="radio"
            [name]="'question' + i"
            [value]="reponse"
            (change)="this.addResponse(i, reponse)"
        >
        {{ reponse }}
    </li>
    </ul>
</div>
<div>
    <button (click)="this.calculateScore();this.redirectToResult()" >Afficher le score</button>
</div>

<button (click)="this.resetAnswers()">Réinitialiser</button>