<body>
    <input [(ngModel)]="name" placeholder="Entrez votre nom" />
    <p>Bonjour, {{ name }}!</p>
    <h1><img src="https://cdn-icons-png.flaticon.com/512/616/616430.png" alt="Cat Icon" class="cat-icon"> Bienvenue au <span class="highlight">MIAOUMÉGA QUIZ !</span> <img src="https://cdn-icons-png.flaticon.com/512/616/616430.png" alt="Cat Icon" class="cat-icon"></h1>
    <p>
        Vous pensez tout savoir sur ces boules de poils mystérieuses qui dorment toute la journée, 
        chassent vos chaussettes et vous regardent comme si vous étiez leur humble serviteur ? 
        Eh bien, préparez-vous à miauler de rire, car notre quiz est là pour tester vos connaissances félines !
    </p>
    <p>
        De leur obsession pour les cartons aux secrets de leur fameux "ronron-thérapie", ce quiz est pour les vrais cat lovers, 
        ceux qui comprennent que, dans la vie, tout est question de <span class="highlight">pattes</span>... euh, de <span class="highlight">pattes-science</span>, bien sûr !
    </p>
    <p>
        Alors, affûtez vos griffes, étirez-vous comme un chat paresseux qui se réveille, et plongez dans notre univers félin où chaque question est un saut dans l'inconnu… ou dans la litière !
    </p>
    <p>
        Prêt(e) à découvrir si vous êtes aussi rusé(e) qu'un chat siamois ou aussi joueur(se) qu'un chaton devant un laser rouge ? <a routerLink="/quizz">Miaou-commençons !</a>
    </p>
</body>