<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="name">Nom :</label>
    <input id="name" formControlName="name" />
    <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
      Nom est requis et doit avoir au moins 3 caractères.
    </div>
    <label for="email">Email :</label>
    <input id="email" formControlName="email" />
    <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
      Email est requis et doit être valide.
    </div>
    <label for="password">Mot de passe :</label>
    <input id="password" type="password" formControlName="password" />
    <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
      Le mot de passe doit avoir au moins 8 caractères.
    </div>
    <button type="submit">Soumettre</button>
</form>